.BackgroundTestimonial {
  width: 824px;
  height: 268px;
  border-radius: 32px;
  border: 1.5px solid rgba(248, 248, 248, 0.02);
  box-shadow: 2px 4px 16px 0px rgba(248, 248, 248, 0.06) inset, 0px 24px 24px -16px rgba(5, 5, 5, 0.09), 0px 6px 13px 0px rgba(5, 5, 5, 0.10), 0px 6px 4px -4px rgba(5, 5, 5, 0.10), 0px 5px 1.5px -4px rgba(5, 5, 5, 0.25);
  backdrop-filter: blur(50px);
}

.BorderTestimonial {
  border: 1px solid rgba(248, 248, 248, 0.02);
}

.AuthorTestimonial::before {
  content: "";
  position: absolute;
  top: 22px;
  right: 16px;
  z-index: 2;
  width: 24px;
  height: 24px;
  background: rgba(40, 40, 40, .50);
  border-radius: 50%;
  background-image: url('/assets/icons/chevron-right-icon.png');
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 0.2s;
}