@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-landing;
}

@layer components {
  .gradient-text {
    background: linear-gradient(93deg, rgba(248, 248, 248, 0.90) 0.1%, rgba(248, 248, 248, 0.50) 100%);
    @apply bg-clip-text text-transparent;
  }
}

.SimpleList {
  position: relative;
  width: 414px;
  padding: 12px;
  border-radius: 32px;
  backdrop-filter: blur(50px);
}

.SimpleList::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 32px;

  background: rgba(40, 40, 40, 0.70);
  box-shadow: inset 2px 4px 16px 0 hsla(0, 0%, 97%, .06);
  transition: background .2s;
}

.SimpleList::after {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 32px;

  border: 1.5px solid hsla(0, 0%, 100%, .05);
  mask-image: linear-gradient(180deg, #000, transparent 55%);
}

.swiper-author {
  overflow: visible;

  .swiper-slide {
    &.swiper-slide-active {
      background: rgba(248, 248, 248, 0.10);
      box-shadow: 0px 24px 32px -12px rgba(18, 18, 18, 0.10), inset 2px 4px 16px 0px rgba(248, 248, 248, 0.06);

      &::before {
        opacity: 1;
      }
    }
  }
}

.swiper-pagination-bullets.swiper-pagination-testimonials {
  position: relative;
  display: flex;
  margin: 0px 12px;
  top: auto !important;
  left: auto !important;
  right: auto !important;
  bottom: auto !important;

  .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    margin: 0px 4px;
    background: rgba(248, 248, 248, .25);
    border-radius: 50%;
    opacity: 1;
    transition: background .2s;

    &.swiper-pagination-bullet-active {
      background: rgba(248, 248, 248, .7);
    }
  }
}